/*********

0. Variables
1. Body
2. Table
3. Next Button
4. Alt version

*********/
/* 0. Variables */
@import url("https://fonts.googleapis.com/css?family=Poppins");
/* 1. Body */
body {
  font-size: 12px;
  line-height: 120%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 100%;
  height: 100%;
  position: relative; }

/* 2. Table */
.afl {
  width: 620px;
  border: 1px solid #DCDCDC;
  margin: 2em auto; }
  .afl thead th {
    background: #E6E6E6;
    font-size: 0.92em;
    border-right: 1px solid gainsboro;
    text-align: left;
    border-bottom: 2px solid #DCDCDC;
    height: 24px;
    padding: 0 3px;
    color: #696969;
    vertical-align: middle;
    font-weight: bold; }
  .afl tbody tr td {
    height: 24px;
    padding: 2px 4px;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    vertical-align: middle; }
  .afl tbody tr .rank {
    width: 22px;
    border-left: 1px solid #DCDCDC; }
    .afl tbody tr .rank span {
      display: block;
      background: #696969;
      width: 17px;
      height: 18px;
      line-height: 18px;
      color: #FFF;
      text-align: center;
      margin: auto; }
  .afl tbody tr:nth-child(even) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e6e6e6+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
    /* IE6-9 */ }

.team {
  line-height: 26px;
  /* team logos */ }
  .team .team-logo {
    background-image: url("../img/teams-tiny-2x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 20px auto;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: -9999px;
    opacity: 0;
    margin: 4px 5px 0 0; }

.cats .team-logo {
  background-position: 0 -240px; }

.power .team-logo {
  background-position: 0 -480px; }

.swans .team-logo {
  background-position: 0 -600px; }

.magpies .team-logo {
  background-position: 0 -120px; }

.bulldogs .team-logo {
  background-position: 0 -680px; }

/* 3. Next Button */
.button-container {
  background: #2B0059;
  padding: 1em;
  position: fixed;
  bottom: -130px;
  width: 100%;
  height: 100px; }

.glitch {
  border: none;
  background: none;
  font-size: 40px;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch:before, .glitch:after {
    display: block;
    content: 'Alternate version';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch:after {
    color: #f0f;
    z-index: -2; }
  .glitch:before {
    color: #0ff;
    z-index: -1; }
  .glitch:hover:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch:hover:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

@keyframes glitch {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-3px, 3px); }
  40% {
    transform: translate(-3px, -3px); }
  60% {
    transform: translate(3px, 3px); }
  80% {
    transform: translate(3px, -3px); }
  to {
    transform: translate(0); } }
/* 4. Alt version */
.alt-version {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: none;
  height: 100vh;
  width: 90%;
  position: absolute;
  top: 0;
  padding: 5%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01285e+0,01285e+100&1+0,0.85+100 */
  background: -moz-linear-gradient(top, #01285e 0%, rgba(1, 40, 94, 0.85) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #01285e 0%, rgba(1, 40, 94, 0.85) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #01285e 0%, rgba(1, 40, 94, 0.85) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01285e', endColorstr='#d901285e',GradientType=0 );
  /* IE6-9 */ }
  .alt-version .container {
    background: #C90010;
    color: #FFF;
    padding: 20px;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .alt-version #player-info {
    background: #FFF;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .alt-version #player-info .row {
      color: #696969; }
      .alt-version #player-info .row .rank {
        text-align: center; }

@media all and (max-width: 900px) {
  .alt-version {
    font-size: 14px; }
    .alt-version .container {
      padding: 10px; }
      .alt-version .container .row .columns {
        margin-left: 2%; }
      .alt-version .container .row .columns:first-child {
        margin-left: 0; } }
@media all and (max-width: 850px) {
  .alt-version .container .row .columns:first-child {
    opacity: 0; }
  .alt-version #player-info .row .columns:first-child {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
